*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
}

form{
    width:100vw;
    border:2px solid white;
    border-radius: 10px;
    background-image: linear-gradient(purple,violet,blue);
}

#heading{
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom:2px solid grey;
    padding-bottom: 2%;
    margin:3% 0% 3% 0%;
}

#feedback-image{
    width:15vw;
    height:13vw;
    margin-right:3%;
}

#heading h2{
    color:white;
}

.container{
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:5% 0% 5% -1%;
    border-radius: 10px;
}

.user-icon{
    width:7vw;
    height:7vw;
    margin-right:2%;
}

.input-fields{
    width:85vw;
    padding:3% 5%;
    border-radius:10px;
    border:none;
    outline-color:blue;
    font-size:17px;
    box-shadow: 2px 2px 5px 0px black;
}

#submit-button{
    padding:3% 15%;
    font-size:20px;
    background-color:green;
    margin:5% 25%;
    border:none;
    border-radius:10px;
    color:white;
    cursor:pointer;
    box-shadow: 2px 2px 5px 0px black;
}
#submit-button:hover{
    background-color:rgb(12, 82, 12);
}

@media only screen and (min-width:321px){
    body{
        padding:13% 0%;
    }
}

@media only screen and (min-width:376px){
    body{
        padding:10% 0%;
    }
}

@media only screen and (min-width:426px){
    body{
        padding:5% 0%;
        background-color:black;
    }

    form{
        width:50vw;
        border:2px solid white;
        border-radius: 10px;
        box-shadow: 2px 2px 5px 0px black;
    }

    .container{
        width:50vw;
        display:flex;
        align-items: center;
        justify-content: center;
        padding:0% 5%;
    }

    #feedback-image{
        width:8vw;
        height:8vw;
        margin-right:3%;
    }

    #heading h2{
        font-size:30px;
    }

    .user-icon{
        width:4vw;
        height:4vw;
    }

    #submit-button{
        padding:2% 20%;
        font-size: 20px;
    }
}

@media only screen and (min-width:769px){
    body{
        padding:4% 0%;
    }

    form{
        width:50vw;
    }

    .container{
        width:50vw;
    }

    #heading h2{
        font-size:30px;
    }

    #feedback-image{
        width:5vw;
        height:5vw;
        margin-right:3%;
    }

    .user-icon{
        width:4vw;
        height:4vw;
    }

    #submit-button{
        padding:1.5% 15%;
        font-size: 25px;
    }
}

@media only screen and (min-width:1025px){
    body{
        padding:4% 0%;
    }

    form{
        width:30vw;
    }

    .container{
        width:30vw;
    }

    #heading h2{
        font-size:35px;
    }

    #feedback-image{
        width:5vw;
        height:5vw;
        margin-right:3%;
    }

    .user-icon{
        width:2vw;
        height:2vw;
    }

    #submit-button{
        padding:1.5% 15%;
        font-size: 25px;
    }
}